* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

header .navbar-nav .nav-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #1C1B1B;
  margin-right: 12px;
}
header .soc-header {
  list-style: none;
  align-items: flex-start;
}
header .soc-header li:first-of-type {
  margin-right: 15px;
  padding-top: 8px;
}
header .soc-header li:last-of-type {
  margin-left: 7px;
}
header .soc-header li:nth-child(2) {
  padding-top: 2px;
}
header .navbar-brand {
  position: absolute;
  left: 50%;
  top: 16px;
  margin-left: -40px;
}
@media screen and (max-width: 991.98px) {
  header .navbar-brand {
    top: 10px;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #1C1B1B;
}

.container {
  max-width: 1064px;
}

.main-banner {
  background-color: #F0EFEB;
  padding: 75px 0;
}
.main-banner h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 42px;
}
@media screen and (max-width: 1038px) {
  .main-banner h1 {
    font-size: 40px;
    line-height: 45px;
  }
}
@media screen and (max-width: 991.98px) {
  .main-banner h1 {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .main-banner h1 {
    font-size: 30px;
    line-height: 35px;
  }
}
.main-banner p {
  margin-bottom: 26px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
@media screen and (max-width: 950px) {
  .main-banner p {
    font-size: 20px;
    line-height: 22px;
  }
}
@media screen and (max-width: 991.98px) {
  .main-banner p {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .main-banner p {
    font-size: 15px;
    line-height: 20px;
  }
}
.main-banner .btn-dark {
  background: #000000;
  border-radius: 100px;
  padding: 7px 23px 9px;
}
@media screen and (max-width: 991.98px) {
  .main-banner .btn-dark {
    position: relative;
    left: 50%;
    margin-left: -62px;
  }
}
.main-banner a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
}
.main-banner .main-img {
  background-color: #F0EFEB;
  position: relative;
  right: -30px;
  display: block;
  width: 100%;
}
@media screen and (max-width: 1065px) {
  .main-banner .main-img {
    right: 0;
  }
}

.best-sellers {
  background-color: #FFFFFF;
  padding: 60px 0 228px;
}
@media screen and (max-width: 767.98px) {
  .best-sellers {
    padding: 60px 0 78px;
  }
}
.best-sellers img {
  margin-bottom: 7px;
}
.best-sellers .col-md-4 {
  padding-left: 30px;
  padding-right: 30px;
}
.best-sellers h2.our {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  padding-bottom: 19px;
}
@media screen and (max-width: 950px) {
  .best-sellers h2.our {
    font-size: 30px;
    line-height: 35px;
  }
}
@media screen and (max-width: 450px) {
  .best-sellers h2.our {
    font-size: 23px;
    line-height: 25px;
  }
}
.best-sellers h2.best {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  padding-bottom: 44px;
}
@media screen and (max-width: 950px) {
  .best-sellers h2.best {
    font-size: 30px;
    line-height: 35px;
  }
}
@media screen and (max-width: 450px) {
  .best-sellers h2.best {
    font-size: 23px;
    line-height: 25px;
  }
}
.best-sellers p.are {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  padding-bottom: 31px;
}
@media screen and (max-width: 950px) {
  .best-sellers p.are {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 450px) {
  .best-sellers p.are {
    font-size: 13px;
    line-height: 15px;
  }
}
.best-sellers p.available {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  padding-bottom: 72px;
}
@media screen and (max-width: 950px) {
  .best-sellers p.available {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 450px) {
  .best-sellers p.available {
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 32px;
  }
}
.best-sellers .card {
  border: none;
}
.best-sellers .card h5 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  max-width: 156px;
  margin: auto;
  margin-bottom: 17px;
}
@media screen and (max-width: 450px) {
  .best-sellers .card h5 {
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (max-width: 444px) {
  .best-sellers .card h5 {
    height: 60px;
    font-size: 12px;
    line-height: 14px;
  }
}
.best-sellers .card p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
}
@media screen and (max-width: 450px) {
  .best-sellers .card p {
    font-size: 14px;
    line-height: 16px;
  }
}
.best-sellers .card a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
}
@media screen and (max-width: 450px) {
  .best-sellers .card a {
    font-size: 14px;
    line-height: 16px;
  }
}

.portfolio {
  padding: 76px 0 51px;
  background-color: rgba(204, 204, 204, 0.3019607843);
}
.portfolio .col-md-5 img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 950px) {
  .portfolio .col-md-5 img {
    margin-bottom: 20px;
  }
}
.portfolio h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  padding-bottom: 23px;
}
@media screen and (max-width: 950px) {
  .portfolio h4 {
    font-size: 28px;
    line-height: 33px;
  }
}
@media screen and (max-width: 767.98px) {
  .portfolio h4 {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .portfolio h4 {
    font-size: 22px;
    line-height: 25px;
  }
}
.portfolio p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  padding-bottom: 24px;
}
@media screen and (max-width: 950px) {
  .portfolio p {
    font-size: 26px;
    line-height: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .portfolio p {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .portfolio p {
    font-size: 20px;
    line-height: 24px;
  }
}
.portfolio a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000000;
}
@media screen and (max-width: 767.98px) {
  .portfolio a {
    position: relative;
    left: 50%;
    margin-left: -79px;
  }
}

.portfolio2 {
  padding: 76px 0 51px;
  background-color: rgba(204, 204, 204, 0.6);
}
.portfolio2 .col-md-5 img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 950px) {
  .portfolio2 .col-md-5 img {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .portfolio2 .order-1 {
    order: 2;
  }
}
@media screen and (max-width: 767.98px) {
  .portfolio2 .order-2 {
    order: 1;
  }
}
.portfolio2 h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  padding-bottom: 23px;
}
@media screen and (max-width: 950px) {
  .portfolio2 h4 {
    font-size: 28px;
    line-height: 33px;
  }
}
@media screen and (max-width: 767.98px) {
  .portfolio2 h4 {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .portfolio2 h4 {
    font-size: 22px;
    line-height: 25px;
  }
}
.portfolio2 p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  padding-bottom: 15px;
}
@media screen and (max-width: 950px) {
  .portfolio2 p {
    font-size: 26px;
    line-height: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .portfolio2 p {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .portfolio2 p {
    font-size: 20px;
    line-height: 24px;
  }
}
.portfolio2 a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000000;
}
@media screen and (max-width: 767.98px) {
  .portfolio2 a {
    position: relative;
    right: 50%;
    margin-right: -79px;
  }
}

.portfolio3 {
  padding: 76px 0 51px;
  background-color: rgba(204, 204, 204, 0.3019607843);
}
.portfolio3 .col-md-5 img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 950px) {
  .portfolio3 .col-md-5 img {
    margin-bottom: 20px;
  }
}
.portfolio3 h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  padding-bottom: 23px;
}
@media screen and (max-width: 950px) {
  .portfolio3 h4 {
    font-size: 28px;
    line-height: 33px;
  }
}
@media screen and (max-width: 767.98px) {
  .portfolio3 h4 {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .portfolio3 h4 {
    font-size: 22px;
    line-height: 25px;
  }
}
.portfolio3 p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  padding-bottom: 23px;
}
@media screen and (max-width: 950px) {
  .portfolio3 p {
    font-size: 26px;
    line-height: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .portfolio3 p {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .portfolio3 p {
    font-size: 20px;
    line-height: 24px;
  }
}
.portfolio3 a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000000;
}
@media screen and (max-width: 767.98px) {
  .portfolio3 a {
    position: relative;
    left: 50%;
    margin-left: -53px;
  }
}

.features {
  padding-top: 190px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 767.98px) {
  .features {
    padding-top: 90px;
  }
}
.features .col-md-4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #000000;
  padding-bottom: 111px;
}
@media screen and (max-width: 950px) {
  .features .col-md-4 {
    font-size: 30px;
    line-height: 35px;
  }
}
@media screen and (max-width: 450px) {
  .features .col-md-4 {
    padding-bottom: 51px;
    font-size: 23px;
    line-height: 25px;
  }
}
.features .col-md-4::before {
  content: "";
  display: block;
  background-color: #21F7EC;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 26px;
}
.features .col-md-4:nth-child(2):before {
  background-color: #33D3BC;
}
.features .col-md-4:nth-child(3):before {
  background-color: #18A5C6;
}
.features .col-md-4:nth-child(4):before {
  background-color: #D38F62;
}
.features .col-md-4:nth-child(5):before {
  background-color: #F94C43;
}
.features .col-md-4:nth-child(6):before {
  background-color: #D399FF;
}
.features h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-bottom: 69px;
}
@media screen and (max-width: 950px) {
  .features h3 {
    font-size: 30px;
    line-height: 35px;
  }
}
@media screen and (max-width: 450px) {
  .features h3 {
    font-size: 23px;
    line-height: 25px;
  }
}

.each {
  background-color: #FFFFFF;
}
.each h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  padding-top: 52px;
  margin-bottom: 290px;
}
@media screen and (max-width: 950px) {
  .each h3 {
    font-size: 30px;
    line-height: 35px;
  }
}
@media screen and (max-width: 450px) {
  .each h3 {
    font-size: 23px;
    line-height: 25px;
  }
}
.each .grey-bg {
  height: 480px;
  background-color: #F0F0F0;
}
@media screen and (max-width: 767.98px) {
  .each .grey-bg {
    height: auto;
  }
}
.each .grey-bg article {
  position: relative;
  top: -188px;
}
@media screen and (max-width: 1000px) {
  .each .grey-bg article {
    top: -164px;
  }
}
.each .grey-bg article.card-body {
  padding-bottom: 32px;
}
.each .grey-bg article img {
  margin-bottom: 15px;
}
@media screen and (max-width: 1000px) {
  .each .grey-bg article img {
    width: 250px;
  }
}
@media screen and (max-width: 320px) {
  .each .grey-bg article img {
    width: 100%;
  }
}
.each .grey-bg article p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.6px;
  color: #000000;
  margin-bottom: 34px;
}
@media screen and (max-width: 950px) {
  .each .grey-bg article p {
    font-size: 18px;
    line-height: 22px;
    height: 70px;
  }
}
@media screen and (max-width: 450px) {
  .each .grey-bg article p {
    font-size: 15px;
    line-height: 20px;
    height: 40px;
  }
}
.each .grey-bg article h5 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin-bottom: 44px;
}
@media screen and (max-width: 950px) {
  .each .grey-bg article h5 {
    font-size: 17px;
    line-height: 21px;
    height: 40px;
  }
}
@media screen and (max-width: 450px) {
  .each .grey-bg article h5 {
    font-size: 14px;
    line-height: 17px;
    height: 20px;
  }
}
.each .grey-bg article a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
}
@media screen and (max-width: 450px) {
  .each .grey-bg article a {
    font-size: 14px;
    line-height: 17px;
  }
}

.form {
  padding: 79px 0 88px;
}
.form .form-group {
  margin-bottom: 0;
}
.form .form-group .form-control {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  border-radius: 0;
  border: 1px solid #000000;
  padding: 12px 5px 11px 8px;
}
.form .form-group .form-control::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A0A0A0;
}
.form .form-group .form-control::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A0A0A0;
}
.form .form-group .form-control:-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A0A0A0;
}
.form .form-group .form-control:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A0A0A0;
}
.form h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
}
@media screen and (max-width: 950px) {
  .form h3 {
    font-size: 25px;
    line-height: 28px;
  }
}
@media screen and (max-width: 450px) {
  .form h3 {
    font-size: 21px;
    line-height: 24px;
  }
}
.form p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-bottom: 11px;
}
@media screen and (max-width: 950px) {
  .form p {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width: 450px) {
  .form p {
    font-size: 13px;
    line-height: 15px;
  }
}
.form .btn-dark {
  background: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  padding: 7px 23px 10px;
  margin-top: 16px;
}

footer {
  padding: 51px 0 16px;
  background-color: #020202;
}
footer p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 0;
}
footer img {
  margin-bottom: 37px;
}
footer ul {
  list-style: none;
  padding-left: 0px;
}
footer .about li {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
  margin-bottom: 12px;
}
@media screen and (max-width: 350px) {
  footer .about li {
    font-size: 12px;
    line-height: 18px;
  }
}
footer .about li:first-of-type {
  margin-bottom: 36px;
}
footer .about li a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}
footer .contact li {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
  margin-bottom: 12px;
}
@media screen and (max-width: 350px) {
  footer .contact li {
    font-size: 12px;
    line-height: 18px;
  }
}
footer .contact li:first-of-type {
  margin-bottom: 36px;
}
footer .contact li a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.owl-stage {
  align-items: center;
}

.owl-item {
  text-align: center;
}

.owl-nav .owl-prev:before {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  content: "\f053";
  display: inline-block;
  font-size: 40px;
  color: #000000;
  position: absolute;
  left: -35px;
  top: 170px;
}
@media screen and (max-width: 1130px) {
  .owl-nav .owl-prev:before {
    display: none;
  }
}
.owl-nav .owl-next:before {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  content: "\f054";
  display: inline-block;
  font-size: 40px;
  color: #000000;
  position: absolute;
  right: -35px;
  top: 170px;
}
@media screen and (max-width: 1130px) {
  .owl-nav .owl-next:before {
    display: none;
  }
}

.owl-nav .owl-prev:hover::before,
.owl-nav .owl-next:hover::before {
  color: #121212;
  text-shadow: 0 2px 3px #121212;
}

.owl-dots {
  position: absolute;
  bottom: -5%;
  left: 50%;
  margin-left: -60px;
  text-align: center;
}
@media screen and (max-width: 849px) {
  .owl-dots {
    margin-left: -51px;
  }
}
@media screen and (max-width: 553px) {
  .owl-dots {
    margin-left: -45px;
  }
}
.owl-dots .owl-dot span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: #000000;
  border-radius: 50%;
}
@media screen and (max-width: 849px) {
  .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
  }
}
@media screen and (max-width: 553px) {
  .owl-dots .owl-dot span {
    width: 5px;
    height: 5px;
  }
}

.owl-dots .owl-dot.active span {
  background-color: rgba(18, 18, 18, 0.4039215686);
}